@charset "UTF-8";
@font-face {
  font-family: "Leatherwork";
  src: url(../assets/fonts/leatherwork/Leatherwork-Regular.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Leatherwork';
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

header {
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "headerLeft headerRight";
  margin-bottom: 10px;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  height: 13vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: brown; }
  header div h1 {
    display: flex;
    padding-top: 3px;
    color: black;
    width: 60%;
    font-size: 23px;
    border: 5px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-wrap: wrap; }
  header div nav ul li {
    background-color: white;
    border: 3px solid black;
    border-radius: 3px;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center; }
    header div nav ul li:hover {
      background-color: yellow; }
    header div nav ul li a {
      display: block;
      max-width: 200px;
      font-size: 25px;
      text-decoration: none;
      color: black; }
      header div nav ul li a:hover {
        color: red; }

.headerLeft {
  grid-area: headerLeft;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.headerRight {
  grid-area: headerRight;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .headerRight input[type="checkbox"] {
    display: none; }
  .headerRight i {
    opacity: 0;
    width: 0;
    height: 0; }

main {
  display: grid;
  grid-area: main;
  margin-top: 80px;
  right: 0;
  left: 0;
  border-right: 10px solid black;
  border-left: 10px solid black;
  padding-top: 50px;
  width: 100vw;
  height: 120vh;
  background-image: url(../assets/images/FondoGaucho.webp);
  background-size: cover;
  z-index: -1; }

/* DE ACÁ EN ADELANTE VA EL MAIN DEL INDEX */
#mainIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "mainIndexTitle mainIndexTitle mainIndexTitle" " mainIndexSubtitle mainIndexSubtitle mainIndexSubtitle" "mainIndexCenter mainIndexCenter mainIndexCenter" "textBelowImage textBelowImage textBelowImage";
  height: 100vh; }
  #mainIndex div h2 {
    text-align: center; }
  #mainIndex div h3 {
    margin: 1px;
    text-align: center; }
  #mainIndex .mainIndexTitle {
    grid-area: mainIndexTitle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    z-index: 1; }
  #mainIndex .mainIndexSubtitle {
    grid-area: mainIndexSubtitle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15%;
    z-index: 1; }
  #mainIndex .mainIndexCenter {
    grid-area: mainIndexCenter;
    text-align: center;
    margin-bottom: 10%; }
    #mainIndex .mainIndexCenter img {
      margin-top: 20px;
      border: 5px solid black;
      border-radius: 3px;
      background-color: black;
      animation-name: rotateFlag;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      z-index: -1; }

@keyframes rotateFlag {
  0% {
    z-index: -1;
    rotate: -10deg; }
  50% {
    z-index: -1;
    rotate: 0deg; }
  100% {
    z-index: -1;
    rotate: 10deg; } }
  #mainIndex .textBelowImage {
    grid-area: textBelowImage;
    border: 5px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    background-color: brown; }

#mainGallery {
  height: 260vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: ". galleryTitle galleryTitle ." ". imageSlider imageSlider ." ". imageSlider imageSlider ." ". videosTitle videosTitle ." ". videosRow1-1 videosRow1-2 .";
  justify-content: center;
  /* DE ACÁ EN ADELANTE EL SLIDER */
  /* ACÁ TERMINA EL SLIDER DE FOTOS */ }
  #mainGallery .galleryTitle {
    grid-area: galleryTitle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-basis: auto;
    flex-shrink: 120px;
    margin-bottom: 20px; }
    #mainGallery .galleryTitle h1 {
      border: 5px solid black;
      background-color: white;
      padding-top: 3px;
      padding-bottom: 3px; }
  #mainGallery #imageSlider {
    grid-area: imageSlider;
    max-width: 1200px;
    margin: auto; }
    #mainGallery #imageSlider div {
      position: relative; }
      #mainGallery #imageSlider div .slides {
        position: relative;
        display: flex;
        overflow: hidden; }
        #mainGallery #imageSlider div .slides li {
          width: 100vw;
          flex-shrink: 0;
          animation-name: slide;
          animation-duration: 20s;
          animation-iteration-count: infinite;
          animation-timing-function: linear; }
          #mainGallery #imageSlider div .slides li img {
            width: 100%;
            vertical-align: top; }
          #mainGallery #imageSlider div .slides li a {
            width: 100%;
            display: inline-block;
            position: relative; }
            #mainGallery #imageSlider div .slides li a p {
              color: white;
              text-shadow: 1px 1px black;
              font-size: 8vw;
              position: absolute;
              bottom: 8vw;
              right: 4vw; }
          #mainGallery #imageSlider div .slides li:target {
            animation-name: none;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 50; }
        #mainGallery #imageSlider div .slides:hover .slide {
          animation-play-state: paused; }
      #mainGallery #imageSlider div .slider-controler {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100; }
        #mainGallery #imageSlider div .slider-controler li {
          margin: 0 0.5rem;
          display: inline-block;
          vertical-align: top; }
        #mainGallery #imageSlider div .slider-controler a {
          display: inline-block;
          vertical-align: top;
          text-decoration: none;
          color: white;
          font-size: 1.5rem; }

@keyframes slide {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateX(0); }
  15% {
    transform: translateX(-100%); }
  30% {
    transform: translateX(-100%); }
  35% {
    transform: translateX(-200%); }
  50% {
    transform: translateX(-200%); }
  55% {
    transform: translateX(-300%); }
  70% {
    transform: translateX(-300%); }
  75% {
    transform: translateX(-400%); }
  90% {
    transform: translateX(-400%); }
  95% {
    transform: translateX(-500%); }
  100% {
    transform: translateX(-500%); } }
  #mainGallery .videosTitle {
    grid-area: videosTitle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; }
    #mainGallery .videosTitle h2 {
      border: 5px solid black;
      background-color: white;
      padding-bottom: 3px;
      padding-top: 3px; }
  #mainGallery .videosRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; }
    #mainGallery .videosRow iframe {
      background-color: black;
      border: 3px solid black; }
  #mainGallery .videosRow1-1 {
    grid-area: videosRow1-1; }
  #mainGallery .videosRow1-2 {
    grid-area: videosRow1-2; }

#mainClients {
  height: 180vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: "clientsRow1 clientsRow1 clientsRow1" "clientsRow2 clientsRow2 clientsRow2" "clientsRow3 clientsRow3 clientsRow3" "clientsRow4 clientsRow4 clientsRow4" "clientsRow5 clientsRow5 clientsRow5" "clientsRow6 clientsRow6 clientsRow6" "clientsRow7 clientsRow7 clientsRow7" "clientsRow8 clientsRow8 clientsRow8"; }
  #mainClients div h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px; }
  #mainClients div h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px; }
  #mainClients div h3 {
    margin-top: 10px;
    margin-bottom: 10px; }
    #mainClients div h3 a {
      border: 2px solid black;
      color: red; }
  #mainClients div ol li {
    border: 1px solid black;
    background-color: brown;
    margin: 2px 2rem 2px 2rem; }
  #mainClients div ol p {
    border: 1px dotted black;
    background-color: white;
    margin: 2px 4rem 2px 4rem; }
  #mainClients div img {
    border: 2px solid black;
    background-color: white; }
  #mainClients div table {
    background-color: white;
    margin-left: auto;
    margin-right: auto; }
  #mainClients .clientsRow1 {
    grid-area: clientsRow1; }
  #mainClients #faqList {
    grid-area: clientsRow2;
    font-size: medium;
    font-weight: bold;
    text-align: center; }
  #mainClients .clientsRow3 {
    grid-area: clientsRow3; }
  #mainClients #clientsComments1 {
    grid-area: clientsRow4;
    text-align: center; }
  #mainClients #clientsComments2 {
    grid-area: clientsRow5;
    text-align: center; }
  #mainClients #clientsComments3 {
    grid-area: clientsRow6;
    text-align: center; }
  #mainClients .clientsRow7 {
    grid-area: clientsRow7; }
  #mainClients .clientsRow8 {
    grid-area: clientsRow8; }

#mainWe {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "weRow1 weRow1 weRow1" "weRow2 weRow2 weRow2" "weRow3 weRow3 weRow3" "weRow4 weRow4 weRow4";
  text-align: center;
  width: 100vw;
  height: 145vh; }
  #mainWe div img {
    background-color: black;
    border: 3px solid black; }
  #mainWe .weRow1 {
    grid-area: weRow1; }
  #mainWe #mainWeBelowImg1 {
    grid-area: weRow2;
    width: 600px; }
  #mainWe .mainWeBelowImg1, #mainWe .mainWeBelowImg2 {
    margin: auto;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    background-color: brown; }
  #mainWe .weRow3 {
    grid-area: weRow3; }
  #mainWe #mainWeBelowImg2 {
    grid-area: weRow4;
    width: 900px; }

#mainContact {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". mainContactForm .";
  height: 80vh; }
  #mainContact .mainContactForm {
    grid-area: mainContactForm; }
  #mainContact div {
    font-size: larger;
    text-align: center; }
    #mainContact div form fieldset {
      border: 5px solid black; }
      #mainContact div form fieldset legend {
        font-weight: 1000; }
      #mainContact div form fieldset div {
        padding-top: 15px; }

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footerLeft footerMiddle footerRight";
  border: 10px solid black;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  width: 100vw;
  height: 13vh;
  background-color: brown; }
  footer div {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    footer div a {
      /* TRANSICIONES EN EL FOOTER */
      transition: 1s ease;
      -webkit-transition: 1s ease;
      -moz-transition: 1s ease;
      -ms-transition: 1s ease;
      -o-transition: 1s ease; }
      footer div a:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }
      footer div a img {
        height: 50px;
        width: 50px; }
  footer .footerLeft {
    grid-area: footerLeft;
    justify-content: center;
    flex-shrink: 10px; }
  footer .footerMiddle {
    grid-area: footerMiddle;
    justify-content: space-around; }
  footer .footerRight {
    grid-area: footerRight;
    justify-content: center;
    flex-shrink: 10px; }

@media only screen and (min-width: 1200px) {
  .slide {
    width: 1200px; }
  .caption {
    font-size: 96px;
    bottom: 96px;
    right: 50px; } }

@media only screen and (max-width: 1200px) {
  header div h1 {
    font-size: 18px; }
  header div nav ul li a {
    font-size: 20px; }
  /* MAIN DE GALLERY */
  .slider {
    width: 900px; }
  .wrapper img {
    height: 500px;
    width: 900px; }
  .videosRow iframe {
    display: flex;
    justify-content: center;
    width: 95%; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */
  #mainClients {
    height: 220vh; }
  #mainWe {
    height: 190vh; } }

@media only screen and (max-width: 1024px) {
  /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */
  #mainGallery {
    grid-template-columns: 0.5fr 370px 370px 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: ". galleryTitle galleryTitle ." "imageSlider imageSlider imageSlider imageSlider" "imageSlider imageSlider imageSlider imageSlider" ". videosTitle videosTitle ." ". videosRow1-1 videosRow1-2 ."; }
  #imageSlider img {
    width: 600px;
    height: 400px; }
  .slider {
    width: 600px; }
  .wrapper {
    max-width: 1024px !important;
    margin: auto; }
  .videosRow iframe {
    display: flex;
    justify-content: center; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */
  #mainClients {
    height: 220vh;
    display: grid;
    grid-template-columns: 0.5fr 360px 0.5fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "clientsRow1 clientsRow1 clientsRow1" "clientsRow2 clientsRow2 clientsRow2" "clientsRow3 clientsRow3 clientsRow3" "clientsRow4 clientsRow4 clientsRow4" "clientsRow5 clientsRow5 clientsRow5" "clientsRow6 clientsRow6 clientsRow6" "clientsRow7 clientsRow7 clientsRow7" "clientsRow8 clientsRow8 clientsRow8"; }
  /* DE ACÁ EN ADELANTE EL MAIN DE NOSOTROS */
  #mainWe {
    grid-template-areas: "weRow1 weRow1 weRow1" ". weRow2 ." "weRow3 weRow3 weRow3" ". weRow4 .";
    height: 190vh; }
    #mainWe div img {
      width: 300px; }
    #mainWe #mainWeBelowImg1 {
      margin: auto;
      width: 80%; }
    #mainWe #mainWeBelowImg2 {
      margin: auto;
      width: 80%; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CONTACTO */
  #mainContact {
    grid-template-columns: 1fr;
    grid-template-areas: "mainContactForm"; } }

@media only screen and (max-width: 768px) {
  /* ACÁ MENÚ HAMBURGUESA DEL HEADER */
  header div h1 {
    display: flex;
    padding-top: 3px;
    color: black;
    width: 60%;
    font-size: 23px;
    border: 5px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    flex-shrink: 10px;
    font-size: 13px; }
  header div input:checked ~ nav {
    display: block !important; }
  header div input:checked ~ .fa-bars {
    display: none; }
  header div input:not(:checked) ~ .fa-times {
    display: none; }
  header div nav {
    display: none; }
    header div nav ul li {
      background-color: white;
      border: 3px solid black;
      border-radius: 3px;
      margin-right: 10px;
      display: block;
      flex-wrap: wrap;
      text-align: center;
      z-index: 1; }
      header div nav ul li:hover {
        background-color: yellow; }
      header div nav ul li a {
        display: block;
        max-width: 200px;
        text-decoration: none;
        padding: 10px 20px;
        color: black;
        font-size: 15px; }
        header div nav ul li a:hover {
          color: red; }
  header div i {
    opacity: 1 !important;
    height: 48px !important;
    width: 48px !important; }
  header .headerLeft {
    grid-area: headerLeft;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  header .headerRight {
    grid-area: headerRight;
    display: block;
    position: relative;
    min-height: 48px;
    width: 100%;
    padding-right: 10px;
    padding-left: 15px;
    display: flex; }
    header .headerRight input[type="checkbox"] {
      opacity: 0;
      display: block;
      height: 48px;
      width: 48px; }
  .headerRight input[type="checkbox"], .headerRight .fa-bars, .headerRight .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin-top: 6px;
    margin-right: 20px;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px; }
  .headerRight .fa-bars, .headerRight .fa-times {
    font-size: 48px;
    pointer-events: none; }
  /* TERMINA EL MODELADO DEL MENÚ HAMBURGUESA*/
  /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */
  #mainGallery {
    grid-template-columns: 0.5fr 270px 270px 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: ". galleryTitle galleryTitle ." "imageSlider imageSlider imageSlider imageSlider" "imageSlider imageSlider imageSlider imageSlider"  ". videosTitle videosTitle ." ". videosRow1-1 videosRow1-2 ."; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */
  #mainClients {
    height: 290vh; }
    #mainClients div ol li {
      margin: 0px 2rem 0px 2rem; }
    #mainClients div ol p {
      margin: 0px 4rem 0px 4rem; }
    #mainClients div img {
      width: 25rem; }
    #mainClients div table {
      max-width: 25rem; }
  /* DE ACÁ EN ADELANTE EL MAIN DE NOSOTROS */
  #mainWe {
    height: 190vh; } }

@media only screen and (max-width: 580px) {
  #mainIndex {
    height: 110vh; }
  /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */
  #mainGallery {
    grid-template-columns: 0.5fr 230px 230px 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: ". galleryTitle galleryTitle ." "imageSlider imageSlider imageSlider imageSlider" "imageSlider imageSlider imageSlider imageSlider" ". videosTitle videosTitle ." ". videosRow1-1 videosRow1-2 ."; }
  .wrapper img {
    max-width: 400px;
    height: 300px; }
  .slider {
    width: 400px; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */
  #mainClients {
    height: 290vh; }
    #mainClients div ol li {
      margin: 0px 2rem 0px 2rem; }
    #mainClients div ol p {
      margin: 0px 4rem 0px 4rem; }
    #mainClients div img {
      max-width: 400px; }
    #mainClients div table {
      max-width: 400px;
      margin-bottom: 10px; }
  /* DE ACÁ EN ADELANTE EL MAIN DE NOSOTROS */
  #mainWe div img {
    margin-top: 10px;
    width: 300px;
    height: 80%; }
  #mainWe #mainWeBelowImg1 {
    width: 300px; }
  #mainWe #mainWeBelowImg2 {
    width: 300px; } }

@media only screen and (max-width: 480px) {
  /* MODIFICANDO ESTA LINEA AJUSTO CUANTO SE DESPLAZA EL MENÚ CUANDO ESTÁ ABIERTO */
  header div h1 {
    font-size: 12px;
    width: 80%; }
  header div nav ul li {
    margin-right: 50px; }
    header div nav ul li a {
      font-size: 15px; }
  header .headerRight {
    width: 100%;
    padding-right: 10px;
    padding-left: 15px; }
  /* ACÁ CORREGÍ EL MAIN DEL INDEX */
  #mainIndex {
    height: 150vh; }
    #mainIndex .textBelowImage {
      margin: 0 50px 50px 50px; }
  /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */
  #mainGallery {
    grid-template-columns: 0.5fr 200px 200px 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: ". galleryTitle galleryTitle ." "imageSlider imageSlider imageSlider imageSlider" "imageSlider imageSlider imageSlider imageSlider" ". videosTitle videosTitle ." ". videosRow1-1 videosRow1-2 ."; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */
  #mainClients {
    height: 300vh; }
  #mainContact {
    height: 90vh; }
  footer div {
    height: 10vh; } }

@media only screen and (max-width: 470px) {
  header {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "headerLeft headerRight"; }
    header div h1 {
      font-size: 10px; }
    header div nav ul li a {
      font-size: 13px; }
  /* DE ACÁ EN ADELANTE MAIN DE CLIENTES */
  #mainClients {
    height: 330vh; } }

@media only screen and (max-width: 430px) {
  .headerRight {
    display: flex;
    justify-content: center;
    align-items: center; }
  /* ACÁ ARREGLO MAIN INDEX */
  #mainIndex div img {
    max-width: 280px !important; }
  /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */
  #mainGallery {
    height: 400vh;
    grid-template-columns: 0.2fr 280px 0.2fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: ". galleryTitle ." "imageSlider imageSlider imageSlider" "imageSlider imageSlider imageSlider" ". videosTitle ." ". videosRow1-1 ." ". videosRow1-2 ."; }
    #mainGallery div img {
      max-width: 280px;
      max-height: 280px; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */
  #mainClients {
    display: grid;
    grid-template-columns: 0.5fr 280px 0.5fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: ". clientsRow1 ." ". clientsRow2 ." ". clientsRow3 ." ". clientsRow4 ." ". clientsRow5 ." ". clientsRow6 ." ". clientsRow7 ." "clientsRow8 clientsRow8 clientsRow8"; }
    #mainClients div ol li {
      margin: 0px 2.5rem 0px 2.5rem; }
    #mainClients div ol p {
      margin: 0px 4rem 0px 4rem; }
    #mainClients div img {
      max-width: 280px;
      max-height: 280px;
      margin: auto; }
    #mainClients div table {
      font-size: 12px;
      width: 50px;
      margin-bottom: 10px; }
    #mainClients div h2 {
      font-size: 25px; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CONTACTO */
  #mainContact div form fieldset legend {
    font-size: 15px; }
  footer div b {
    font-size: 12px; } }

@media only screen and (max-width: 341px) {
  /* HEADER */
  header div nav ul li {
    margin-right: 60px; }
    header div nav ul li a {
      font-size: 10px; }
  /* DE ACÁ EN ADELANTE EL MAIN DEL INDEX */
  #mainIndex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "mainIndexTitle mainIndexTitle mainIndexTitle" " mainIndexSubtitle mainIndexSubtitle mainIndexSubtitle" "mainIndexCenter mainIndexCenter mainIndexCenter" "textBelowImage textBelowImage textBelowImage";
    height: 140vh; }
    #mainIndex .textBelowImage {
      margin-right: 30px;
      margin-left: 30px; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */
  #mainClients {
    display: grid;
    grid-template-columns: 0.5fr 280px 0.5fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: ". clientsRow1 ." ". clientsRow2 ." ". clientsRow3 ." ". clientsRow4 ." ". clientsRow5 ." ". clientsRow6 ." ". clientsRow7 ." "clientsRow8 clientsRow8 clientsRow8"; }
    #mainClients div h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px; }
    #mainClients div img {
      max-height: 400px;
      max-width: 15rem; }
    #mainClients div table {
      width: 10px;
      font-size: 12px; }
  #mainWe div img {
    margin-top: 10px;
    width: 270px;
    height: 80%; }
  #mainWe #mainWeBelowImg1 {
    width: 270px; }
  #mainWe #mainWeBelowImg2 {
    width: 270px; }
  /* DE ACÁ EN ADELANTE EL MAIN DE CONTACTO */
  #mainContact div form fieldset legend {
    font-size: 14px; } }

@media only screen and (max-width: 320px) {
  header div h1 {
    margin-left: 5px;
    margin-right: 5px; }
  /* ACÁ ARREGLO MAIN DE INDEX */
  #mainIndex {
    height: 150vh; }
  /* ACÁ ARREGLO MAIN DE GALLERY */
  #mainGallery {
    height: 300vh; }
  .wrapper img {
    height: 200px;
    width: 280px; }
  .slider {
    max-width: 280px; }
  #mainContact {
    height: 90vh; }
  /* FOOTER */
  footer div b {
    font-size: 10px; } }
