@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Leatherwork";
  src: url(../assets/fonts/leatherwork/Leatherwork-Regular.ttf); }

body {
  font-family: 'Leatherwork';
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header header header header"
 "main main main main"
 "footer footer footer footer"; }

header {
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "headerLeft headerRight";
  margin-bottom: 10px;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  height: 13vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: brown; }
  header div h1 {
    display: flex;
    padding-top: 3px;
    color: black;
    width: 60%;
    font-size: 23px;
    border: 5px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-wrap: wrap; }
  header div nav ul li {
    background-color: white;
    border: 3px solid black;
    border-radius: 3px;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center; }
    header div nav ul li:hover {
      background-color: yellow; }
    header div nav ul li a {
      display: block;
      max-width: 200px;
      font-size: 25px;
      text-decoration: none;
      color: black; }
      header div nav ul li a:hover {
        color: red; }

.headerLeft {
  grid-area: headerLeft;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.headerRight {
  grid-area: headerRight;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .headerRight input[type="checkbox"] {
    display: none; }
  .headerRight i {
    opacity: 0;
    width: 0;
    height: 0; }

main {
  display: grid;
  grid-area: main;
  margin-top: 80px;
  right: 0;
  left: 0;
  border-right: 10px solid black;
  border-left: 10px solid black;
  padding-top: 50px;
  width: 100vw;
  height: 120vh;
  background-image: url(../assets/images/FondoGaucho.jpg);
  background-size: cover;
  z-index: -1; }

/* DE ACÁ EN ADELANTE VA EL MAIN DEL INDEX */
#mainIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "mainIndexTitle mainIndexTitle mainIndexTitle"
 " mainIndexSubtitle mainIndexSubtitle mainIndexSubtitle"
 "mainIndexCenter mainIndexCenter mainIndexCenter"
 "textBelowImage textBelowImage textBelowImage";
  height: 100vh; }
  #mainIndex div h2 {
    text-align: center; }
  #mainIndex div h3 {
    margin: 1px;
    text-align: center; }
  #mainIndex .mainIndexTitle {
    grid-area: mainIndexTitle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%; }
  #mainIndex .mainIndexSubtitle {
    grid-area: mainIndexSubtitle;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15%; }
  #mainIndex .mainIndexCenter {
    grid-area: mainIndexCenter;
    text-align: center;
    margin-bottom: 10%; }
    #mainIndex .mainIndexCenter img {
      z-index: -1;
      border: 5px solid black;
      border-radius: 3px;
      background-color: black;
      animation-name: rotateFlag;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      z-index: -1; }

@keyframes rotateFlag {
  0% {
    z-index: -1;
    rotate: -10deg; }
  50% {
    z-index: -1;
    rotate: 0deg; }
  100% {
    z-index: -1;
    rotate: 10deg; } }
  #mainIndex .textBelowImage {
    grid-area: textBelowImage;
    border: 5px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    background-color: brown; }

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "footerLeft footerMiddle footerRight";
  border: 10px solid black;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  width: 100vw;
  height: 13vh;
  background-color: brown; }
  footer div {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    footer div a {
      /* TRANSICIONES EN EL FOOTER */
      transition: 1s ease;
      -webkit-transition: 1s ease;
      -moz-transition: 1s ease;
      -ms-transition: 1s ease;
      -o-transition: 1s ease; }
      footer div a:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }
      footer div a img {
        height: 50px;
        width: 50px; }
  footer .footerLeft {
    grid-area: footerLeft;
    justify-content: center;
    flex-shrink: 10px; }
  footer .footerMiddle {
    grid-area: footerMiddle;
    justify-content: space-around; }
  footer .footerRight {
    grid-area: footerRight;
    justify-content: center;
    flex-shrink: 10px; }
