header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "headerLeft headerRight";
    margin-bottom: 10px;
    border-right: 10px solid black;
    border-left: 10px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    height: 13vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: map-get($paleta-colores, "rojo-federal" );
    
    div {
        h1{
            display: flex;
            padding-top: 3px;
            color: map-get($paleta-colores, "negro" );
            width: 60%;
            font-size: 23px;
            border: 5px solid black;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: white;
            flex-wrap: wrap;
        }
        
        nav{
            ul{
                li{
                    background-color: map-get($paleta-colores, "blanco" );
                    border: 3px solid black;
                    border-radius: 3px;
                    display: inline-block;
                    flex-wrap: wrap;
                    text-align: center;

                    &:hover{
                        background-color: map-get($paleta-colores, "boton" );
                    }
                    a{
                        display: block;
                        max-width: 200px;
                        font-size: 25px;
                        text-decoration: none;
                        color: black;

                        &:hover{
                            color: map-get($paleta-colores, "letra-boton" );
                        }
                    }
                }
            }
        }
    }
}

.headerLeft {
    grid-area: headerLeft;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headerRight {
    grid-area: headerRight;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    input[type="checkbox"] {
    display: none;
    }

    i {
    opacity: 0;
    width: 0;
    height: 0;
}

}