#mainContact {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr ;
    grid-template-areas: ". mainContactForm .";
    height: 80vh;

    .mainContactForm {
        grid-area: mainContactForm;
    }

    div{
        font-size: larger;
        text-align: center;

        form{
            fieldset{
                border: 5px solid black;

                legend{
                    font-weight: 1000;
                }

                div{
                    padding-top: 15px;
                }
            }
        }
    }
}