#mainGallery {
    height: 260vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: ". galleryTitle galleryTitle ."
        ". imageSlider imageSlider ."
        ". imageSlider imageSlider ."
        ". videosTitle videosTitle ."
        ". videosRow1-1 videosRow1-2 .";
    justify-content: center;

    .galleryTitle{
        grid-area: galleryTitle;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-basis: auto;
        flex-shrink: 120px;
        margin-bottom: 20px;

        h1{
            border: 5px solid black;
            background-color: white;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }

/* DE ACÁ EN ADELANTE EL SLIDER */

    #imageSlider {
        grid-area: imageSlider;
        max-width: 1200px;
	    margin: auto;
}

/* ACÁ TERMINA EL SLIDER DE FOTOS */

    .videosTitle{
        grid-area: videosTitle;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;

        h2{
            border: 5px solid black;
            background-color: map-get($paleta-colores, "blanco" );
            padding-bottom: 3px;
            padding-top: 3px;
        }
    }

    .videosRow{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        iframe{
            background-color: map-get($paleta-colores, "negro" );
            border: 3px solid black;
        }
    }

    .videosRow1-1 {
        grid-area: videosRow1-1;
    }

    .videosRow1-2 {
        grid-area: videosRow1-2;
    }
}
