@media only screen and (max-width: 1200px) {

    header{
        div{
            h1{
                font-size: 18px;
            }
            nav{
                ul{
                    li{
                        a{
                            font-size: 20px;
                        }
                    }
                }
            }
    }
}


    /* MAIN DE GALLERY */

    .videosRow{
        iframe{
            display: flex;
            justify-content: center;
            width: 95%;} 
    }

    /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */

    #mainClients {
        height: 220vh;
    }

    // DE ACÁ EN ADELANTE EL MAIN DE NOSOTROS

    #mainWe{
        height: 190vh;
    }

}

@media only screen and (max-width: 1024px) {

    header{
        div{
            nav{
                ul{
                    li{
                        a{
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
    }

    /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */

    #mainGallery {
        grid-template-columns: 0.5fr 370px 370px 0.5fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: ". galleryTitle galleryTitle ."
            "imageSlider imageSlider imageSlider imageSlider"
            "imageSlider imageSlider imageSlider imageSlider"
            ". videosTitle videosTitle ."
            ". videosRow1-1 videosRow1-2 .";

    }

// ESTO PERTENECE AL SLIDER
    #imageSlider {
        width: 600px;
        height: 400px; 
    }

// ACÁ TERMINA EL SLIDER

    .videosRow{
        iframe{
            display: flex;
            justify-content: center;
        }
    }

    /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */

#mainClients {
    height: 220vh;
    display: grid;
    grid-template-columns: 0.5fr 360px 0.5fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "clientsRow1 clientsRow1 clientsRow1"
                        "clientsRow2 clientsRow2 clientsRow2"
                        "clientsRow3 clientsRow3 clientsRow3"
                        "clientsRow4 clientsRow4 clientsRow4"
                        "clientsRow5 clientsRow5 clientsRow5"
                        "clientsRow6 clientsRow6 clientsRow6"
                        "clientsRow7 clientsRow7 clientsRow7"
                        "clientsRow8 clientsRow8 clientsRow8";
}


/* DE ACÁ EN ADELANTE EL MAIN DE NOSOTROS */

#mainWe {
    grid-template-areas: "weRow1 weRow1 weRow1"
                        ". weRow2 ."
                        "weRow3 weRow3 weRow3"
                        ". weRow4 .";
    height: 190vh;

    div{
        img {
            width: 300px;
        }
    }

    #mainWeBelowImg1{
        margin: auto;
        width: 80%;
    }
    #mainWeBelowImg2{
        margin: auto;
        width: 80%;
    }
}

/* DE ACÁ EN ADELANTE EL MAIN DE CONTACTO */

    #mainContact {grid-template-columns:  1fr ;
        grid-template-areas: "mainContactForm";
    }

}

@media only screen and (max-width: 768px) {
/* ACÁ MENÚ HAMBURGUESA DEL HEADER */

header{
    div{
        h1{
            display: flex;
        padding-top: 3px;
        color: black;
        width: 60%;
        font-size: 23px;
        border: 5px solid black;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: white;
        flex-wrap: wrap;
        padding-left: 5px;
        padding-right: 5px;
        flex-shrink: 10px;
        font-size: 13px;
        }

        input{
            &:checked ~ nav {
                display: block !important;
            }
    
            &:checked ~ .fa-bars {
                display: none;
            }
            
            &:not(:checked) ~ .fa-times {
                display: none;
            }
        }

        nav{
            display: none;

            ul{
                li{
                    background-color: white;
                    border: 3px solid black;
                    border-radius: 3px;
                    margin-right: 10px;
                    display: block;
                    flex-wrap: wrap;
                    text-align: center;
                    z-index: 1;

                    &:hover{
                        background-color: yellow;
                    }
                    a{
                        display: block;
                        max-width: 200px;
                        text-decoration: none;
                        padding: 10px 20px;
                        color: black;
                        font-size: 15px;

                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }

        i{
            margin-top: 8px !important;
            opacity:1 !important;
            height: 48px !important;
            width: 48px !important;
        }
    }

    .headerLeft {
    grid-area: headerLeft;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

    .headerRight {
    grid-area: headerRight;
    display: block;
    position: relative;
    min-height: 48px;
    width: 100%;
    padding-right: 10px;
    padding-left: 15px;
    display: flex;

    input[type="checkbox"]{
        opacity: 0;
        display:block;
        height: 48px;
        width: 48px;
    }
    
    }

    

}

// ESTAS LINEAS PERTENECEN AL MENÚ HAMBURGUESA



.headerRight input[type="checkbox"], .headerRight .fa-bars, .headerRight .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin-top: 6px;
    margin-right: 20px;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }
  
  .headerRight .fa-bars, .headerRight .fa-times {
    font-size: 48px;
    pointer-events: none;
  }

  
/* TERMINA EL MODELADO DEL MENÚ HAMBURGUESA*/


    /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */

#mainGallery {

    grid-template-columns: 0.5fr 270px 270px 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: ". galleryTitle galleryTitle ."
        "imageSlider imageSlider imageSlider imageSlider"
        "imageSlider imageSlider imageSlider imageSlider" 
        ". videosTitle videosTitle ."
        ". videosRow1-1 videosRow1-2 .";

        #imageSlider{
            width: 450px !important;
            height: 450px !important;

            div{
                div{
                    img{
                        width: 450px !important;
                        height: 450px !important;
                    }
                }
            }
        }
}




/* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */

#mainClients {
    height: 290vh;

    div{
        ol{
            li{
                margin: 0px 2rem 0px 2rem;
            }

            p{
                margin: 0px 4rem 0px 4rem;
            }
        }
        
        img{
            width: 25rem;
        }

        table {
            max-width: 25rem;
        }
    }
}

/* DE ACÁ EN ADELANTE EL MAIN DE NOSOTROS */

#mainWe {
    height: 190vh;
}

}

@media only screen and (max-width: 580px) {

    header{
        div{
            nav{
                ul{
                    li{
                        margin-right: 40px !important;
                        a{
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
    }

    #mainIndex {
        height: 110vh;
    }

    /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */

    #mainGallery {

        grid-template-columns: 0.5fr 230px 230px 0.5fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: ". galleryTitle galleryTitle ."
            "imageSlider imageSlider imageSlider imageSlider"
            "imageSlider imageSlider imageSlider imageSlider"
            ". videosTitle videosTitle ."
            ". videosRow1-1 videosRow1-2 .";
    }

    // ESTA PARTE PERTENECE AL SLIDER
    #imageSlider{
        width: 300px !important; 
        height: 300px !important;

        div{
            div{
                img{
                    width: 300px !important;
                    height: 300px !important;
                }
            }
        }
        
    }
    
    // ACÁ TERMINA EL SLIDER
    


    /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */

    #mainClients {
        height: 290vh;

        div{
            
            ol{
                li{
                    margin: 0px 2rem 0px 2rem;
                }

                p{
                    margin: 0px 4rem 0px 4rem;
                }
            }
            img{
                max-width: 400px;
            }

            table{
                max-width: 400px;
                margin-bottom: 10px;
            }

        }
    }

    /* DE ACÁ EN ADELANTE EL MAIN DE NOSOTROS */

    #mainWe{
        div{
            img{
                margin-top: 10px;
                width: 300px;
                height: 80%;
            }
        }
    
        #mainWeBelowImg1{
            width:300px;
        }
        #mainWeBelowImg2{
            width:300px;
        }
    } 

}


@media only screen and (max-width: 480px) {



header{
    div{
        h1{
            font-size: 12px;
            width: 80%;
        }
        nav{
            ul{
                li{
                    margin-right: 50px;
                    /* MODIFICANDO ESTA LINEA AJUSTO CUANTO SE DESPLAZA EL MENÚ CUANDO ESTÁ ABIERTO */
                    a{
                        font-size: 15px !important;
                    }
                }
            }
        }
    }

    .headerRight {
        width: 100%;
        padding-right: 10px;
        padding-left: 15px;
    }
}

    /* ACÁ CORREGÍ EL MAIN DEL INDEX */

    #mainIndex {
        height: 150vh;

        .textBelowImage {
            margin: 0 50px 50px 50px;
        }
    }

    
    /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */

    #mainGallery {

        grid-template-columns: 0.5fr 200px 200px 0.5fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: ". galleryTitle galleryTitle ."
            "imageSlider imageSlider imageSlider imageSlider"
            "imageSlider imageSlider imageSlider imageSlider"
            ". videosTitle videosTitle ."
            ". videosRow1-1 videosRow1-2 .";
        height: 160vh;

            #imageSlider{
                height: 280px !important;
                width: 280px !important;

                div{
                    div{
                        img{
                            height: 280px !important;
                            width: 280px !important;
                        }
                    }
                }
            }
    }

    /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */

    #mainClients {
        height: 300vh;
    }

// ARREGLO MAIN DE CONTACTO

#mainContact{
    height: 90vh;
}

// ACÁ AJUSTO FOOTER

footer {
    div{
        height: 10vh;
    }
}
    
}

@media only screen and (max-width: 470px) {

    header {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "headerLeft headerRight";

        div{
            h1{
                font-size: 10px;
            }

            nav{
                ul{
                    li{
                        margin-right: 25px !important;
                        a{
                            font-size: 13px !important;
                        }
                    }
                }
            }
        }
        
    }


    /* DE ACÁ EN ADELANTE MAIN DE CLIENTES */

    #mainClients {
        height: 330vh;
    }

}

@media only screen and (max-width: 430px)  {

    header {
        div{
            nav{
                ul{
                    li{
                        margin-right: 30px !important;
                    }
                }
            }
        }
        
    }
    
    /* ACÁ ARREGLO MAIN INDEX */

    #mainIndex{
        div{
            img{
                max-width: 280px !important
            }
        }
    }

    /* DE ACÁ EN ADELANTE EL MAIN DE GALLERY */
    #mainGallery {
        height: 400vh;
        grid-template-columns: 0.2fr 280px 0.2fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: ". galleryTitle ."
            "imageSlider imageSlider imageSlider"
            "imageSlider imageSlider imageSlider"
            ". videosTitle ."
            ". videosRow1-1 ."
            ". videosRow1-2 .";
            height: 225vh;

        div{
            img{
                max-width: 280px;
                max-height: 280px;
            }
        }
    }


    /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */

    #mainClients {
        display: grid;
        grid-template-columns: 0.5fr 280px 0.5fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: ". clientsRow1 ."
                            ". clientsRow2 ."
                            ". clientsRow3 ."
                            ". clientsRow4 ."
                            ". clientsRow5 ."
                            ". clientsRow6 ."
                            ". clientsRow7 ."
                            "clientsRow8 clientsRow8 clientsRow8"; 

        div{
            ol{
                li{
                    margin: 0px 2.5rem 0px 2.5rem;
                }
                p{
                    margin: 0px 4rem 0px 4rem;
                }
            }

            img{
                max-width: 280px;
                max-height: 280px;
                margin: auto;
            }

            table{
                font-size: 12px;
                width: 50px;
                margin-bottom: 10px;
            }

            h2{
                font-size: 25px;
            }
        }
    }


    /* DE ACÁ EN ADELANTE EL MAIN DE CONTACTO */

#mainContact{
    div{
        form{
            fieldset{
                legend{
                    font-size: 15px;
                }
            }
        }
    }
}

// DE ACÁ EN ADELANTE FOOTER

footer{
    div{
        b{
            font-size: 12px;
        }
    }
}

}

// INSERTO ESTE MEDIA QUERY PARA CORREGIR UNA DESVIACIÓN DEL MENU HAMBURGUESA

@media only screen and (max-width: 370px){

    header{
        div{
            nav{
                ul{
                    li{
                        margin-right: 60px !important;

                        a{
                            font-size: 10px !important;
                        }
                    }
                }
            }
        }
    }


}

@media only screen and (max-width: 341px) {


    /* HEADER */

    header{
        div{
            nav{
                ul{
                    li{
                        margin-right: 60px !important;

                        a{
                            font-size: 10px !important;
                        }
                    }
                }
            }
        }
    }


    /* DE ACÁ EN ADELANTE EL MAIN DEL INDEX */

    #mainIndex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "mainIndexTitle mainIndexTitle mainIndexTitle"
                            " mainIndexSubtitle mainIndexSubtitle mainIndexSubtitle"
                            "mainIndexCenter mainIndexCenter mainIndexCenter"
                            "textBelowImage textBelowImage textBelowImage";
        height: 140vh;

        .textBelowImage {
        margin-right: 30px;
        margin-left: 30px;
        }

    }

    /* DE ACÁ EN ADELANTE EL MAIN DE CLIENTES */


    #mainClients {
        display: grid;
        grid-template-columns: 0.5fr 280px 0.5fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: ". clientsRow1 ."
                            ". clientsRow2 ."
                            ". clientsRow3 ."
                            ". clientsRow4 ."
                            ". clientsRow5 ."
                            ". clientsRow6 ."
                            ". clientsRow7 ."
                            "clientsRow8 clientsRow8 clientsRow8";
    
        div{
            h1{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
            }

            img{
                max-height: 400px;
                max-width: 15rem;
            }

            table{
                width: 10px;
                font-size: 12px;
            }
        }
    }

    // DE ACÁ EN ADELANTE EL MAIN DE NOSOTROS

#mainWe{
    div{
        img{
            margin-top: 10px;
            width: 270px;
            height: 80%;
        }
    }

    #mainWeBelowImg1 {
        width: 270px;
    }
    #mainWeBelowImg2 {
        width: 270px;
    }
}

/* DE ACÁ EN ADELANTE EL MAIN DE CONTACTO */

#mainContact{
    div{
        form{
            fieldset{
                legend{
                    font-size: 14px;
                }
            }
        }
    }
}

}


@media only screen and (max-width: 320px) {

    header{
        div{
            h1{
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }


    /* ACÁ ARREGLO MAIN DE INDEX */

    #mainIndex {
        height: 150vh ;
    }

    /* ACÁ ARREGLO MAIN DE GALLERY */

#mainGallery {
        height: 250vh;
    }


// CORRECIONES DE CONTACTO

#mainContact{
    height: 90vh;
}

    /* FOOTER */

    footer{
        div{
            b{
                font-size: 10px;
            }
        }
    }


}