* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Leatherwork";
    src: url(../assets/fonts/leatherwork/Leatherwork-Regular.ttf);
}


@import "./body";
@import "./header";
@import "./main";
@import "./mainGaleria";
@import "./mainClientes";
@import "./mainNosotros";
@import "./mainContactos";
@import "./footer";
@import "./mediaqueries";
